src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="interfaceFlow" doc:id="11d65100-306d-42e0-b79e-40171a79aa5d">
        <scheduler doc:name="Scheduler" doc:id="27cb6ab8-3367-46b0-8872-44748fc1d54b">
            <scheduling-strategy>
                <fixed-frequency frequency="30" timeUnit="DAYS" />
            </scheduling-strategy>
        </scheduler>
        <flow-ref doc:name="getAllCompletedTasks" doc:id="e788a0e0-012a-4644-828c-3242ad86f643" name="getAllCompletedTasks" />
        <ee:transform doc:name="Transform Message" doc:id="0722ff9c-2818-4d48-9bcb-cfd19aad0a49">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> {
    ID : item.TaskId
})]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <foreach doc:name="For Each" doc:id="0906c8e3-ab7d-4b5a-9b7a-0dea8ead315e">
            <set-variable value="#[payload]" doc:name="Set currentId" doc:id="6d0e9f25-81ab-4b06-8c82-d0502f0ebd0c" variableName="currentId" />
            <flow-ref doc:name="deleteTaskFlow" doc:id="54fc8be8-28fb-4f4c-b887-34cd95bce004" name="deleteTaskFlow" />
            <logger level="INFO" doc:name="Logger" doc:id="8f1d2f81-2f99-4d7d-bc86-2e2cb32a37d0" message="#[&quot;Task with ID : &quot; ++ vars.currentId.ID as String ++ &quot; has been deleted&quot;]" />
        </foreach>
    </flow>
    <flow name="v2-main">
        <http:listener config-ref="v2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="v2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="v2-console">
        <http:listener config-ref="v2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="v2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\role:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : role flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="65699260-f7a7-4f26-a420-9275cd0f07e0" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="10514069-00da-44c3-a64c-a575379c2f5f" name="Logger" />
        <flow-ref doc:name="updateRoleFlow" doc:id="886d5c73-03d4-440c-801c-409141b8da59" name="updateRoleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : role flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="ec0ebff5-ba14-4ceb-bd14-a071cd88d0cf" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fa081a0b-18be-47cb-bbf4-fbd20230a62b" name="Logger" />
    </flow>
    <flow name="put:\userprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : userprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="b2de57ee-21d7-48b5-b7a0-f2a04b80c750" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="31e57fb9-21e8-4fa9-ae22-5cb6c3b368af" name="Logger" />
        <flow-ref doc:name="updateUserProjectMapFlow" doc:id="12b41224-d136-4805-bcac-ceb938143314" name="updateUserProjectMapFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : userprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="d4ab9eb0-db64-4ab0-975d-f08f1e7f04c9" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="0f899816-da72-4499-965b-8f19efb76cf9" name="Logger" />
    </flow>
    <flow name="put:\task\(ID):application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : task flow for ID : &quot; ++ attributes.uriParams.ID,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="15880f02-149b-488d-a4e6-d9e6c819d0df" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="cee90e3e-5ea6-4765-a3f6-a3ad6583663e" name="Logger" />
        <flow-ref doc:name="mainUpdateTaskFlow" doc:id="7f8bcb32-88a9-4b43-9fae-30f1f62e9a16" name="mainUpdateTaskFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : task by ID flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="b5f19be2-e7a0-433d-ae73-7d2c4bedd24c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a358c6d5-ffd5-4b80-a9b3-d17205b0d0dd" name="Logger" />
    </flow>
    <flow name="put:\user\(ID):application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : user flow for ID : &quot; ++ attributes.uriParams.ID,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="394a4a20-34da-45ca-a2fe-f0849ec09108" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="d6e7f416-0f7d-4305-a957-173bd05fe3a0" name="Logger" />
        <flow-ref doc:name="updateUserFlow" doc:id="102631bb-1fd4-4ad0-af26-447ec8bfff76" name="updateUserFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : user by ID flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="86b1a259-434e-491f-9be3-0476be8c6751" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="088a961a-d544-4f7d-9f88-7100dc872bf7" name="Logger" />
    </flow>
    <flow name="delete:\module:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : module flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="38d232f7-c7be-424d-95a3-f8075abbe6f9" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="9baaa533-6fa0-468f-a5dd-0fd610c2b9ac" name="Logger" />
        <flow-ref doc:name="deleteModuleFlow" doc:id="2b05dfed-4b3d-4ddb-aec0-d133a66578e8" name="deleteModuleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : module flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="d14d01a4-c8c9-4ea2-a5b7-494e21cfa045" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="027a9df5-2894-42d0-ac06-c126c8a96491" name="Logger" />
    </flow>
    <flow name="delete:\priority:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : priority flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="bb3da78f-d74d-4ea3-8fde-12df004a25ef" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="4eec685f-c708-4817-8933-1d77cff930d1" name="Logger" />
        <flow-ref doc:name="deletePriorityFlow" doc:id="cae5782e-e5cb-412b-bc3d-7fc7022b0549" name="deletePriorityFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : priority flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="ee0983fc-18ab-43c5-98da-07c82f6c2aec" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="ed4fa596-e0a4-49a6-8334-c163b84c0e17" name="Logger" />
    </flow>
    <flow name="delete:\project:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : project flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="1f2207f2-ebc1-4afc-856e-584c6e0831e3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="ebed83b7-eb14-4adf-ad4a-00bb36384111" name="Logger" />
        <flow-ref doc:name="deleteProjectFlow" doc:id="666f6d54-bacc-4051-af7c-0f42b00e336b" name="deleteProjectFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : project flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="dc8854c4-a248-4592-82c5-9aab1e20f345" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="01e9e13a-0b7d-40d9-ac6b-c70a74bb97d3" name="Logger" />
    </flow>
    <flow name="delete:\role:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : role flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="e76880d1-12ba-4630-80eb-84db271ea88b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="dfea60c5-5327-4a06-b441-5d96fb195a50" name="Logger" />
        <flow-ref doc:name="deleteRoleFlow" doc:id="5b1712d6-a0d5-4d19-a818-8d0ee24448b8" name="deleteRoleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : role flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="b437ae87-3389-43d5-8d89-ca3460c9b416" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="010d4fd8-daac-4965-b633-fdd219602056" name="Logger" />
    </flow>
    <flow name="delete:\task:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : task flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="2715fc17-a098-4b63-8764-1a9dda263e88" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="75b55fb6-4c8a-4907-8e9f-643e6fed0edf" name="Logger" />
        <flow-ref doc:name="deleteTaskFlow" doc:id="a05f357c-b7ee-4b48-b636-c4b418415e7b" name="deleteTaskFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : task flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="6d5f750d-6cc8-4542-860f-41601baac167" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="39d6b66a-2f8f-4168-b59a-eb467c55e35d" name="Logger" />
    </flow>
    <flow name="delete:\type:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : type flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="84963e8b-e792-4af4-93d4-4d4f69d6df9f" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="0f74a479-5d63-4a9c-beb8-2e490bd29446" name="Logger" />
        <flow-ref doc:name="deleteTypeFlow" doc:id="bb03b483-1084-4c28-9a1f-cb76e6dd3988" name="deleteTypeFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : type flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="24085fa2-a52a-4eb3-aca7-c1cfcb18d3e2" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="211b86b1-05a6-4bd7-86b0-3c350ccddab9" name="Logger" />
    </flow>
    <flow name="delete:\user:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : user flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="9cf5e3b2-82ff-4a75-88fc-daf2632a76e1" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="43924b40-54ee-4c40-9595-790d9bd4e2bf" name="Logger" />
        <flow-ref doc:name="deleteUserFlow" doc:id="dc1eaccf-2c87-4255-b863-9b17b8099c47" name="deleteUserFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : user flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="910454ee-2372-41a3-8e81-50d92065e025" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="27b29221-b813-4196-9634-be162b63b88a" name="Logger" />
    </flow>
    <flow name="delete:\userprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : userprojectmap flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="d38534dc-b441-44c2-96d3-725c329823b7" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="1537e2e4-57c6-4147-884c-68128b2e728e" name="Logger" />
        <flow-ref doc:name="deleteUserProjectMapFlow" doc:id="9949dc5e-34c2-4042-b23b-0985b4c4511b" name="deleteUserProjectMapFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : userprojectmap flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="bb1356a3-c515-450c-ae20-467199c1ff13" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="7f742442-452d-4dc0-9bcf-27c7c863b5a1" name="Logger" />
    </flow>
    <flow name="get:\task\verification\commit:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/verification/commit flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="f40f4592-23d1-48a2-9b46-e89235abc225" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="634b7835-eae8-458f-a59f-c20164102a7e" name="Logger" />
        <flow-ref doc:name="getVerificationCommits" doc:id="a255e4a5-c70f-4875-8ea1-91387241907a" name="getVerificationCommits" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/verification/commit flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="5bf8d068-a50b-4b53-acb9-d5cdfdaa3eac" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="9a5d203e-0035-4dcf-90fd-a76b26b64c6d" name="Logger" />
    </flow>
    <flow name="get:\task\verification\delete:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/verification/delete flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="46c30e63-d438-4413-86bb-158d5d199c2d" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a5ba054e-dc16-42d4-9c38-c7eb83b96398" name="Logger" />
        <flow-ref doc:name="getVerificationDeletes" doc:id="9e5b0582-c112-4c1b-99e2-0571cb8fd11b" name="getVerificationDeletes" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/verification/delete flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="5ea726f2-d46f-4d88-9a1f-829f4bfa2c5e" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="b14755f2-4ce4-441f-abcf-cfb24f7c2a36" name="Logger" />
    </flow>
    <flow name="get:\module:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : module flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="9edfb5df-447f-4f2e-881e-a296d2ba77a5" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="794b6662-5830-4db5-89e5-f537eba08339" name="Logger" />
        <flow-ref doc:name="mainModuleFlow" doc:id="304c4087-9391-4f9e-a206-555a383e3f94" name="mainModuleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : module flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="9a7c6dff-2f2b-43a5-9794-d3ecc2d27e0d" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="cb9d7854-1dbf-43fe-b015-632123b9d710" name="Logger" />
    </flow>
    <flow name="get:\priority:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : priority flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="8accd00d-2681-4928-9bbc-bc2a5cf2c46b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="7df90ece-f44a-49dd-a8c9-a238e8d61fc3" name="Logger" />
        <flow-ref doc:name="mainPriorityFlow" doc:id="02c2335e-f7da-4f19-817e-beca15546483" name="mainPriorityFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : priority flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="16e8ae2d-7fa4-4355-9370-faf99b7e58ab" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a00e52ef-04b0-4e3d-b4d8-107c23a91a15" name="Logger" />
    </flow>
    <flow name="get:\project:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : project flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="e291b823-8ad7-41ab-ad59-7b19f353adb4" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="9cbd4696-b62c-4c9a-b1ee-b2f40ba01476" name="Logger" />
        <flow-ref doc:name="mainProjectFlow" doc:id="4e8beaa5-d04e-4aa5-8f81-a10cf01d36a4" name="mainProjectFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : project flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="bc3a47a3-a762-4baa-a581-49f5be667ef6" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="ce532c02-9e01-4b55-93ee-01c709cca761" name="Logger" />
    </flow>
    <flow name="get:\task\rcs_util:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/rcs_util flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="336add6a-a676-4783-9ecd-106e450dc6e4" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="dc455657-10b0-4291-9871-76a85ba2580f" name="Logger" />
        <flow-ref doc:name="mainTaskRCSUtilizationFlow" doc:id="23f6fcd7-6e92-4b82-b97a-f96bfaa91152" name="mainTaskRCSUtilizationFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/rcs_util flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="6737fc1f-73e2-4d86-a35d-622e1c8db30f" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="1ae3ed20-a612-4a8f-be67-fee4288dc858" name="Logger" />
    </flow>
    <flow name="get:\role:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : role flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="4e35094b-ad9c-47a0-bbf6-f0c643339003" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a7241fce-3e23-48d8-8cfe-fcf25a6a4454" name="Logger" />
        <flow-ref doc:name="mainRoleFlow" doc:id="6bf48e4a-2da2-4110-8118-45eca628ba8b" name="mainRoleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : role flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="c3d8cb95-2c2b-4260-92b1-ed26bed76bd9" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="2d8a0fae-a70d-488c-beb3-47be08af4492" name="Logger" />
    </flow>
    <flow name="get:\role\small:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : role/small flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="139d806b-c9fd-483b-a126-6f5b2529a3f5" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="f6b87acc-eef4-4489-8cbe-cf34eb7f0458" name="Logger" />
        <flow-ref doc:name="getSmallerRoles" doc:id="baa75da4-6ac9-4b88-b4d5-6187b0a1ec89" name="getSmallerRoles" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : role/small flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="9cf236e1-3def-4e5a-8c38-18ccf20df152" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="bc1083e3-6aec-49df-a5d7-b8c104e87ea2" name="Logger" />
    </flow>
    <flow name="get:\task\summary:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/summary flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="998dbfd1-39eb-4ca0-99d2-f6a61fe3e34b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="469afe04-91d9-4088-a3de-d135de6dd04c" name="Logger" />
        <flow-ref doc:name="mainTaskSummaryFlow" doc:id="15378609-8a1b-4e07-a5cb-83aa12318ab4" name="mainTaskSummaryFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/summary flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="ce0f8866-4f6f-4608-9599-f48cb91fe128" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="87f76628-1ff1-4d39-92c4-c86a1bf6c903" name="Logger" />
    </flow>
    <flow name="get:\task:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="71c7817d-a6f0-4843-ab94-ec0849062b5c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6585e33b-7803-4548-a6f7-f780439e4819" name="Logger" />
        <flow-ref doc:name="mainTaskFlow" doc:id="1924a634-80da-4427-98fb-697ff294c8fe" name="mainTaskFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="e984cee1-52c2-4c15-9759-6a7477eb3be3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="18991d30-8596-45c2-a9b2-d6acb864a444" name="Logger" />
    </flow>
    <flow name="get:\type:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : type flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="45f1c2e1-8093-4711-b582-7ca4c1b1da0c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="ecf6bf24-6973-4f94-83ce-2c240ef34259" name="Logger" />
        <flow-ref doc:name="mainTypeFlow" doc:id="26e68091-c3cb-4111-b551-8c39b17751b3" name="mainTypeFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : type flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="c6685ea1-95b2-44c8-9489-6b00ebc7e52e" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="48285fc7-b4b5-44f8-9e93-11af2d2944f2" name="Logger" />
    </flow>
    <flow name="get:\user:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : user flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="28950d31-4c55-4fa2-9190-c4fbc4f2b633" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="3213b446-8224-405f-8ebe-0a48bc7bc832" name="Logger" />
        <flow-ref doc:name="mainUserFlow" doc:id="6e3638e7-d642-476a-9571-b55bc72cacf8" name="mainUserFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : user flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="8bef0737-94ba-410b-93b7-63da69742c77" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="8b2732c0-7c22-41b1-8057-5bf94344eeea" name="Logger" />
    </flow>
    <flow name="get:\role\validlist:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : role/validlist flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="179ff173-ef6b-4c6f-a45c-d4db27dbf313" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="beffaaef-c6f8-4e96-a7b9-859786401db6" name="Logger" />
        <flow-ref doc:name="getValidRoleList" doc:id="473163c8-d8ac-4755-a137-49366c742298" name="getValidRoleList" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : role/validlist flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="b29eea47-8ceb-41af-b50f-9db06e8ceb13" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="2bc7bf51-bd0a-493c-8ef9-ca3ac1e4fccb" name="Logger" />
    </flow>
    <flow name="get:\task\verification:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/verification flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="7bead29a-9c21-42bf-94b7-79eb069516f7" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="504086d7-31c9-4109-9391-6a7217a7826a" name="Logger" />
        <flow-ref doc:name="mainTaskVerificationFlow" doc:id="b2df3924-228f-429e-be28-135625d0e6a5" name="mainTaskVerificationFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/verification flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="990c2a63-c0a8-4eea-80af-b7a5a413f8e7" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fc17f915-7a81-4a4f-894d-9af07c698142" name="Logger" />
    </flow>
    <flow name="get:\task\(ID):v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task flow for ID : &quot; ++ attributes.uriParams.ID,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="aad0b365-8566-4d4f-8677-5a5cf18fb0a3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6ba663d3-447b-460f-afc1-03074208548b" name="Logger" />
        <flow-ref doc:name="mainTaskById" doc:id="8e8f1b65-bde1-49d2-9551-e82793fdf81f" name="mainTaskById" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task by ID flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="3c8ff545-5f94-4d0c-89ec-8339aa395f7b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fe90753a-bd3b-4aa6-a070-6922fbc08660" name="Logger" />
    </flow>
    <flow name="get:\user\(ID):v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : user flow for ID : &quot; ++ attributes.uriParams.ID,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="160fb5ff-9f1c-4c65-b684-18a7f50ff3c2" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="f6e9692a-8284-4606-bdd0-820e8069e1d9" name="Logger" />
        <flow-ref doc:name="getUserById" doc:id="7af263e6-c1d4-419d-9f08-c36b0f172360" name="getUserById" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : user by ID flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="cf77bc06-cdec-476a-b67d-73ec140e2580" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6d1256f3-b66a-4bb8-b9c5-a86c4f0a0e4c" name="Logger" />
    </flow>
    <flow name="post:\module:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : module flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="dfb621a3-3048-4f11-8acf-ad05cea10175" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="3db86575-a7c2-4905-be4d-8247f77d858e" name="Logger" />
        <flow-ref doc:name="createNewModule" doc:id="1ccba059-9caf-4742-a67f-1786c0ab5e31" name="createNewModule" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : module flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="d8026d45-caff-43a8-8fec-0bc03178a50a" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fd4980dc-7820-421e-9d85-c9926549f3c7" name="Logger" />
    </flow>
    <flow name="post:\moduleprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : moduleprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="11e23e0f-6b97-4698-a7fd-52e172b75e1b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="7c20084b-190d-41fc-b2e1-3f7d940d5615" name="Logger" />
        <flow-ref doc:name="createNewModuleProjectMap" doc:id="6f9775d2-b8f7-4a6c-b3c8-b6c8302452b2" name="createNewModuleProjectMap" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : moduleprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="2dd3db13-f561-4d20-b835-b895aa440aea" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="20470463-07b1-4d46-a365-f59af907bd98" name="Logger" />
    </flow>
    <flow name="post:\priority:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : priority flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="06675bfe-6fbb-4cca-857f-34acf511dac5" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="50e86db1-74e7-46d6-9960-6dfda9909b33" name="Logger" />
        <flow-ref doc:name="createNewPriority" doc:id="23f85ce0-07d8-4bff-9611-816815d9b0e4" name="createNewPriority" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : priority flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="161de2e8-f93b-4320-b37e-66c27f27ddb1" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="83a27ddb-1bac-4f52-9aab-cc70ab079724" name="Logger" />
    </flow>
    <flow name="post:\priorityprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : priorityprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="134b9398-3e78-4950-82fe-2dca39af428b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fe8facad-b88f-419c-9cb6-5a7804e6aca2" name="Logger" />
        <flow-ref doc:name="createNewPriorityProjectMap" doc:id="c1a2c32c-8a87-40a2-b0c7-dccb14fb260d" name="createNewPriorityProjectMap" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : priorityprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="15f11976-f426-44ef-abc7-db052d7b5e86" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="271e2e9e-e426-4fd2-8780-70a435c8437c" name="Logger" />
    </flow>
    <flow name="post:\project:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : project flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="7ef65845-6ed8-4114-9cf0-858e64e5fac4" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6f2cfcfb-06d6-4a1f-b944-8f43193c4e5b" name="Logger" />
        <flow-ref doc:name="createNewProject" doc:id="54b22bd8-56b3-4f64-852d-5464b3cf254d" name="createNewProject" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : project flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="0b40dd2f-9dea-437f-91f7-a58b0715a5ce" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="fa61f931-12e9-40dd-8aeb-83572f24b902" name="Logger" />
    </flow>
    <flow name="post:\role:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : role flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="fe2f4454-797d-4d2d-bd8b-bc0ea8300423" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="1ba57e5f-1238-4c43-95a7-75d8bbfa72fb" name="Logger" />
        <flow-ref doc:name="createNewRole" doc:id="5c59b062-3bb6-49fc-8d01-7ab0cc005bcc" name="createNewRole" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : role flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="241e33d8-de59-45ab-9959-bc91e28382a3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a7e52177-39f2-4639-9414-b0ce557d1850" name="Logger" />
    </flow>
    <flow name="post:\task:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : task flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="cbe3437c-3d7d-4182-a7be-7da5647ca594" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="e3ae3ca3-99ec-40a1-a466-60facadf2773" name="Logger" />
        <flow-ref doc:name="createNewTask" doc:id="ca16664f-3791-4f01-84b1-c0e79ae4d648" name="createNewTask" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : task flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="6dd073ac-51f2-445c-a06c-96494e9dc831" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6539c990-ce98-45c4-9d7c-3607b4792eb8" name="Logger" />
    </flow>
    <flow name="post:\type:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : type flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="1b859891-bdf1-4558-8573-c32e96d83c01" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="383fb418-258e-439e-aeab-4e42b12d53ee" name="Logger" />
        <flow-ref doc:name="createNewType" doc:id="59b09766-0382-48f1-8098-94c72a38d881" name="createNewType" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : type flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="ab41226b-86ea-4986-ba1c-ee61774996f7" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="3e9e2e47-85c1-4510-8b75-71abb0c48a08" name="Logger" />
    </flow>
    <flow name="post:\typeprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : typeprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="2ffdd287-5149-49cc-921f-a0ee7afaec66" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="33bee9d2-b9b4-43a6-94a2-2178038f2199" name="Logger" />
        <flow-ref doc:name="createNewTypeProjectMap" doc:id="3aa485af-8ee0-4e9d-8f3b-875b65eadf54" name="createNewTypeProjectMap" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : typeprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="4cee988a-fbd5-4ecd-93e1-6962ca7e6d48" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="cf21dc41-800d-4d00-8265-dbb6fd0152d2" name="Logger" />
    </flow>
    <flow name="post:\user:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : user flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="38ef224a-d77a-4f7c-9084-614c8b7691f3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="85bc8aa1-64b1-4e2a-bede-cb24240245ae" name="Logger" />
        <flow-ref doc:name="createNewUser" doc:id="6b0c1bc4-356c-4292-812b-867def6f73f9" name="createNewUser" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : user flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="eeee1bfd-dda9-4b57-86a2-1370e35a31e3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="2edf0d4a-b48c-48ac-ba99-f3ca080defef" name="Logger" />
    </flow>
    <flow name="post:\userprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : userprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="9872d1b0-ac46-4152-a5ee-a766f67a54bf" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="b9ca9cc2-bd9e-451c-b031-b2edc5838afc" name="Logger" />
        <flow-ref doc:name="createNewUserProjectMap" doc:id="77f62ab3-7b4f-4ea2-8b30-6b3c6bc57f78" name="createNewUserProjectMap" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : userprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="24b3bb69-b148-4e75-9795-53aaa576d9cd" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="ad2d18a2-3736-4b6b-a6a7-5af9dcfb6830" name="Logger" />
    </flow>
    <flow name="put:\role:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : role flow&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="5f61b41d-e932-4b2b-96dd-8961f590812c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="c68f12fb-4518-4d5b-8981-c92bb3649de2" name="Logger" />
        <flow-ref doc:name="updateRoleFlow" doc:id="c78f9c52-edd6-410c-968f-e54dd7441be0" name="updateRoleFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : role flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="920fa2e4-b303-4cfd-9de9-efd847cb3b1d" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="a9522da0-dd22-4be5-8753-5a6111e68fec" name="Logger" />
    </flow>
    <flow name="put:\task\activityworkflow:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : task/activityworkflow flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="03208baf-6a18-4341-a7de-5d11c6eef918" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="bf9a9711-f72d-4c53-804a-591805a0df7a" name="Logger" />
        <flow-ref doc:name="mainTaskActivityWorkflowUpdateFlow" doc:id="04895c28-28ac-4b43-9398-e90ecba1bfac" name="mainTaskActivityWorkflowUpdateFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : task/activityworkflow flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="8ea57022-cce4-4de9-b4d3-39ba409a43b3" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="bcd3c641-4737-47e0-99a7-c8126a65142c" name="Logger" />
    </flow>
    <flow name="put:\task\activityworkflow:application\x-www-form-urlencoded:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : task/activityworkflow --urlEncoded flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="f391e783-881a-408a-9a7c-1ed3bc98a99b" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="f857b40f-8b6f-4fb5-b5cc-673a2d6de1fa" name="Logger" />
        <flow-ref doc:name="mainTaskActivityWorkflowUpdateFlow" doc:id="70cf1a33-6872-4f8d-9c50-39e52d775bac" name="mainTaskActivityWorkflowUpdateFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End PUT : task/activityworkflow --urlEncoded flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="249b87a8-aca3-4d31-9742-247315c94d6c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="be023230-866f-4ac8-b8e8-6513dce2af02" name="Logger" />
    </flow>
    <flow name="put:\task\activityworkflow:multipart\form-data:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting PUT : task/activityworkflow --multipart/form-data flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="eabc34cd-b46b-4aab-88bc-d8cd0a579843" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="43fbc1cc-d16f-46da-9219-dc09b5c645d5" name="Logger" />
        <flow-ref doc:name="mainTaskActivityWorkflowUpdateFlow" doc:id="b12e6334-02cf-4da1-8647-f824446231a4" name="mainTaskActivityWorkflowUpdateFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : task/activityworkflow --multipart/form-data flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="10cc74e7-3ccb-4821-85b2-1ce3042d1f40" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="e8d9028a-d16e-4789-b260-f12f8d0efa83" name="Logger" />
    </flow>
    <flow name="delete:\sprint:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting DELETE : sprint flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="8778a9ae-22d0-4e1f-8a14-c1c69d5d2c1c" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="302e1095-36b7-4f80-8692-8224bb536aeb" name="Logger" />
        <flow-ref doc:name="deleteSprintFlow" doc:id="8297173b-416b-49f1-bdf1-2642980d8168" name="deleteSprintFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End DELETE : sprint flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="d3aadd2d-0a5f-44b7-8bc3-f6e97f4a76f8" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="2bdd66ae-7c02-4403-973d-b8bd88c58e8b" name="Logger" />
    </flow>
    <flow name="get:\sprint:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : sprint flow&quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="3feb2eb8-31dc-4c08-acd0-0b671a87e308" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="9c5cfecf-762c-4055-b657-de7675560c7c" name="Logger" />
        <flow-ref doc:name="mainSprintFlow" doc:id="10e95b84-931d-4f18-889e-c275b259e9e6" name="mainSprintFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : sprint flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="19530427-6453-43c5-824a-051d899713a9" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="0d42b171-7479-4d0a-957e-32e8618bd1cb" name="Logger" />
    </flow>
    <flow name="post:\sprint:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : sprint flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="819085eb-b530-407f-8e8d-3f9a4da94683" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="736f1d02-5e16-4636-a748-d11ed60e52ed" name="Logger" />
        <flow-ref doc:name="createNewSprint" doc:id="182c50a7-4b6e-4f9d-aa4d-716f62fb4627" name="createNewSprint" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : sprint flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="823f9ff8-4f24-4d6a-9833-7c55ba41e971" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="d8f4f4ac-7c44-409d-b48f-da001e9da3a6" name="Logger" />
    </flow>
    <flow name="post:\sprintprojectmap:application\json:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting POST : sprintprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="a90dea6b-c16f-410e-8067-e3e7d572c0e4" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="5fd64b09-f4fa-433e-89f5-8ae79790dfa8" name="Logger" />
        <flow-ref doc:name="createNewSprintProjectMap" doc:id="4f52ee4f-fe53-486e-91b8-024755e9f379" name="createNewSprintProjectMap" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End POST : sprintprojectmap flow&quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="570721e9-63b5-4bfd-992e-c368d253e8e9" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="d854fe83-c949-4c54-9e5d-f244cf52b2ad" name="Logger" />
    </flow>
    <flow name="get:\task\summary\details:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : task/summary flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="8d4bf404-f808-4611-93c3-50d2173aa691" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="5066e816-503f-4e58-92a5-9b5ef1363f2f" name="Logger" />
        <flow-ref doc:name="mainTaskSummaryDetailsFlow" doc:id="cae7df19-74bb-46c8-b946-4bc7e59f11b1" name="mainTaskSummaryDetailsFlow" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : task/summary flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="44c3262d-279b-420d-9d19-9215ced6d59a" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="e3aeccf7-76c1-473d-af42-3f595004c34d" name="Logger" />
    </flow>
    <flow name="post:\auth:application\json:v2-config">
		<flow-ref doc:name="authentication_flow" doc:id="22a4a463-8407-4885-8725-c41ffbdbb3f8" name="authentication_flow"/>
    </flow>
    <flow name="get:\sprint\active:v2-config">
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;Starting GET : sprint/active flow &quot;,&#xA; &quot;log_payload&quot; : &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="afb4448b-dec2-455a-a40b-e6021d70a173" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="6b0f4955-f34a-4054-a7ae-b6495d8e538d" name="Logger" />
        <flow-ref doc:name="getActiveSprint" doc:id="0d32f7da-409a-407c-94b3-fc3d296165bd" name="getActiveSprint" />
        <set-variable value="#[output application/json&#xA;---&#xA;{&#xA; &quot;log_label&quot; : &quot;INFO&quot;,&#xA; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#xA; &quot;log_msg&quot; : &quot;End GET : sprint/active flow &quot;,&#xA; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#xA; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#xA;}]" doc:name="Set log" doc:id="eb3edd0f-1d96-4220-aea1-55f91d6454e7" variableName="log" />
        <flow-ref doc:name="Logger" doc:id="d4ddb5c0-ad84-4bb5-90bf-f722a7b5ae1c" name="Logger" />
    </flow>
    <flow name="get:\module\countByProject:v2-config">
		<set-variable value="#[output application/json&#10;---&#10;{&#10; &quot;log_label&quot; : &quot;INFO&quot;,&#10; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#10; &quot;log_msg&quot; : &quot;Starting GET : module/countByProject flow &quot;,&#10; &quot;log_payload&quot; : &quot;&quot;,&#10; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#10;}]" doc:name="Set log" doc:id="fb6e3ffc-ab41-48b6-938f-ca98be86e6b5" variableName="log" />
		<flow-ref doc:name="Logger" doc:id="df3e49b8-5d2f-439e-8d66-5569c6691f65" name="Logger" />
		<flow-ref doc:name="getCountByProjectFlow" doc:id="84c77c27-f3b5-4c37-9663-f1294c68dd69" name="getCountByProjectFlow"/>
		<set-variable value="#[output application/json&#10;---&#10;{&#10; &quot;log_label&quot; : &quot;INFO&quot;,&#10; &quot;log_category&quot; : &quot;laniak-core-api&quot;,&#10; &quot;log_msg&quot; : &quot;End GET : module/countByProject flow &quot;,&#10; &quot;log_payload&quot; : if(!isEmpty(payload)) write(payload , 'application/json') else &quot;&quot;,&#10; &quot;log_error&quot; : write(error.description , 'application/json') default &quot;&quot;&#10;}]" doc:name="Set log" doc:id="8d82caa5-c26f-4737-b2e7-7417a79fcdcc" variableName="log" />
		<flow-ref doc:name="Logger" doc:id="9922752e-9658-4b45-92ea-0cc8ae833a53" name="Logger" />
    </flow>
</mule>
