src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="v2-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" />
    </http:listener-config>
    <apikit:config name="v2-config" api="resource::46e89148-259e-4ae9-b06b-bde1fcd96d21:v2:1.0.4:raml:zip:v2.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="v2-main">
        <http:listener config-ref="v2-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="v2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="v2-console">
        <http:listener config-ref="v2-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="v2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\role:v2-config">
		<flow-ref doc:name="updateRoleFlow" doc:id="886d5c73-03d4-440c-801c-409141b8da59" name="updateRoleFlow"/>
    </flow>
    <flow name="put:\userprojectmap:application\json:v2-config">
		<flow-ref doc:name="updateUserProjectMapFlow" doc:id="12b41224-d136-4805-bcac-ceb938143314" name="updateUserProjectMapFlow"/>
    </flow>
    <flow name="put:\task\(ID):application\json:v2-config">
        <flow-ref doc:name="mainUpdateTaskFlow" doc:id="7f8bcb32-88a9-4b43-9fae-30f1f62e9a16" name="mainUpdateTaskFlow"/>
    </flow>
    <flow name="put:\user\(ID):application\json:v2-config">
		<flow-ref doc:name="updateUserFlow" doc:id="102631bb-1fd4-4ad0-af26-447ec8bfff76" name="updateUserFlow"/>
    </flow>
    <flow name="delete:\module:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\priority:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\project:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\role:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\task:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\type:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\user:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\userprojectmap:application\json:v2-config">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Record(s) deleted successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\task\verification\commit:v2-config">
        <flow-ref doc:name="getVerificationCommits" doc:id="a255e4a5-c70f-4875-8ea1-91387241907a" name="getVerificationCommits" />
    </flow>
    <flow name="get:\task\verification\delete:v2-config">
        <flow-ref doc:name="getVerificationDeletes" doc:id="9e5b0582-c112-4c1b-99e2-0571cb8fd11b" name="getVerificationDeletes" />
    </flow>
    <flow name="get:\module:v2-config">
        <flow-ref doc:name="mainModuleFlow" doc:id="304c4087-9391-4f9e-a206-555a383e3f94" name="mainModuleFlow" />
    </flow>
    <flow name="get:\priority:v2-config">
        <flow-ref doc:name="mainPriorityFlow" doc:id="02c2335e-f7da-4f19-817e-beca15546483" name="mainPriorityFlow" />
    </flow>
    <flow name="get:\project:v2-config">
        <flow-ref doc:name="mainProjectFlow" doc:id="4e8beaa5-d04e-4aa5-8f81-a10cf01d36a4" name="mainPriorityFlow" />
    </flow>
    <flow name="get:\task\rcs_util:v2-config">
        <flow-ref doc:name="mainTaskRCSUtilizationFlow" doc:id="23f6fcd7-6e92-4b82-b97a-f96bfaa91152" name="mainTaskRCSUtilizationFlow" />
    </flow>
    <flow name="get:\role:v2-config">
        <flow-ref doc:name="mainRoleFlow" doc:id="6bf48e4a-2da2-4110-8118-45eca628ba8b" name="mainRoleFlow" />
    </flow>
    <flow name="get:\role\small:v2-config">
        <flow-ref doc:name="getSmallerRoles" doc:id="baa75da4-6ac9-4b88-b4d5-6187b0a1ec89" name="getSmallerRoles" />
    </flow>
    <flow name="get:\task\summary:v2-config">
        <flow-ref doc:name="mainTaskSummaryFlow" doc:id="15378609-8a1b-4e07-a5cb-83aa12318ab4" name="mainTaskSummaryFlow" />
    </flow>
    <flow name="get:\task:v2-config">
        <flow-ref doc:name="mainTaskFlow" doc:id="1924a634-80da-4427-98fb-697ff294c8fe" name="mainTaskFlow" />
    </flow>
    <flow name="get:\type:v2-config">
        <flow-ref doc:name="mainTypeFlow" doc:id="26e68091-c3cb-4111-b551-8c39b17751b3" name="mainTypeFlow" />
    </flow>
    <flow name="get:\user:v2-config">
        <flow-ref doc:name="mainUserFlow" doc:id="6e3638e7-d642-476a-9571-b55bc72cacf8" name="mainUserFlow" />
    </flow>
    <flow name="get:\role\validlist:v2-config">
        <flow-ref doc:name="getValidRoleList" doc:id="473163c8-d8ac-4755-a137-49366c742298" name="getValidRoleList" />
    </flow>
    <flow name="get:\task\verification:v2-config">
        <flow-ref doc:name="mainTaskVerificationFlow" doc:id="b2df3924-228f-429e-be28-135625d0e6a5" name="mainTaskVerificationFlow" />
    </flow>
    <flow name="get:\task\(ID):v2-config">
        <flow-ref doc:name="mainTaskById" doc:id="8e8f1b65-bde1-49d2-9551-e82793fdf81f" name="mainTaskById" />
    </flow>
    <flow name="get:\user\(ID):v2-config">
        <flow-ref doc:name="getUserById" doc:id="7af263e6-c1d4-419d-9f08-c36b0f172360" name="getUserById" />
    </flow>
    <flow name="post:\module:application\json:v2-config">
		<flow-ref doc:name="createNewModule" doc:id="1ccba059-9caf-4742-a67f-1786c0ab5e31" name="createNewModule"/>
    </flow>
    <flow name="post:\moduleprojectmap:application\json:v2-config">
		<flow-ref doc:name="createNewModuleProjectMap" doc:id="6f9775d2-b8f7-4a6c-b3c8-b6c8302452b2" name="createNewModuleProjectMap"/>
    </flow>
    <flow name="post:\priority:application\json:v2-config">
		<flow-ref doc:name="createNewPriority" doc:id="23f85ce0-07d8-4bff-9611-816815d9b0e4" name="createNewPriority"/>
    </flow>
    <flow name="post:\priorityprojectmap:application\json:v2-config">
		<flow-ref doc:name="createNewPriorityProjectMap" doc:id="c1a2c32c-8a87-40a2-b0c7-dccb14fb260d" name="createNewPriorityProjectMap"/>
    </flow>
    <flow name="post:\project:application\json:v2-config">
        <flow-ref doc:name="createNewProject" doc:id="54b22bd8-56b3-4f64-852d-5464b3cf254d" name="createNewProject" />
    </flow>
    <flow name="post:\role:application\json:v2-config">
		<flow-ref doc:name="createNewRole" doc:id="5c59b062-3bb6-49fc-8d01-7ab0cc005bcc" name="createNewRole"/>
    </flow>
    <flow name="post:\task:application\json:v2-config">
		<flow-ref doc:name="createNewTask" doc:id="ca16664f-3791-4f01-84b1-c0e79ae4d648" name="createNewTask"/>
    </flow>
    <flow name="post:\type:application\json:v2-config">
		<flow-ref doc:name="createNewType" doc:id="59b09766-0382-48f1-8098-94c72a38d881" name="createNewType"/>
    </flow>
    <flow name="post:\typeprojectmap:application\json:v2-config">
		<flow-ref doc:name="createNewTypeProjectMap" doc:id="3aa485af-8ee0-4e9d-8f3b-875b65eadf54" name="createNewTypeProjectMap"/>
    </flow>
    <flow name="post:\user:application\json:v2-config">
		<flow-ref doc:name="createNewUser" doc:id="6b0c1bc4-356c-4292-812b-867def6f73f9" name="createNewUser"/>
    </flow>
    <flow name="post:\userprojectmap:application\json:v2-config">
		<flow-ref doc:name="createNewUserProjectMap" doc:id="77f62ab3-7b4f-4ea2-8b30-6b3c6bc57f78" name="createNewUserProjectMap"/>
    </flow>
</mule>
