src/main/mule/moduleProjectMap_api_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="createNewModuleProjectMap" doc:id="50fe082b-a056-4f9d-910e-1e68525e4657" >
		<ee:transform doc:name="Prepare payload" doc:id="b1581989-b805-45b4-ab10-a4bc8a0ed3e8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"moduleId" : payload.moduleId,
	"projectId" : payload.projectId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Module_Project_Map Insert" doc:id="1c760362-8a1f-4fb3-89d6-813c6e352d3d" config-ref="rdbms_master_db_config" >
			<db:sql ><![CDATA[INSERT INTO module_project_map ("ModuleId" , "ProjectId") VALUES (:moduleid , :projectid)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"moduleid" : vars.backup_payload.moduleId,
	"projectid" : vars.backup_payload.projectId
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
