src/main/mule/priorityProjectMap_api_implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="createNewPriorityProjectMap" doc:id="df4d2525-a398-4d06-aed9-8542a0c20023" >
		<ee:transform doc:name="Prepare payload" doc:id="dccd5def-144c-4bbe-967e-ffe0acebd07e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"priorityId" : payload.priorityId,
	"projectId" : payload.projectId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Priority_Project_Map Insert" doc:id="8b1c4685-dd7f-4c63-b9df-4d65793dfadb" config-ref="rdbms_master_db_config" >
			<db:sql ><![CDATA[INSERT INTO priority_project_map ("PriorityId" , "ProjectId") VALUES (:priorityid , :projectid)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"priorityid" : vars.backup_payload.priorityId,
	"projectid" : vars.backup_payload.projectId
}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
